{% extends 'base.html.twig' %}
{% block title 'Créer une nouvelle option' %}

{% block body %}
    <div class="container mt-4">
    <h2>Ajouter une nouvelle option</h2>
    {{ include('admin/option/__form.html.twig', {form: form, button: 'Créer'}) }}
</div>
{% endblock %}